/* theme tmpl from https://codepen.io/Tibixx/pen/NLpNar*/

/* default theme */
:root {
    --selection: rgba(224, 146, 58, 0.35);
    --background: #242424;
    --text: #ffffff;
    --choice: #609664;
    --transform: #ca975d;
    --dynamic: #a271cf;
    --symbol: #e98388;
    --assign: #e5b742;
    --continuation: #e0923a;
    --weight: #508be5;
    --comment: #7f7f7f;
  }
  
  pre code {
    display: block;
    overflow-x: auto;
    padding: 10px;
    background: var(--background);
    -webkit-text-size-adjust: none;
  }
  
  pre code *::selection,
  .hljs::selection {
    background: var(--selection) !important;
  }
  
  .hljs {
    color: var(--text);
    background-color: #242424;
  }
  
  .hljs-rs-choice {
    color: var(--choice);
  }
  
  .hljs-rs-transform {
    color: var(--transform) !important;
  }
  
  .hljs-rs-dynamic {
    color: var(--dynamic) !important;
  }
  
  .hljs-rs-symbol {
    color: var(--symbol) !important;
  }
  
  .hljs-comment {
    color: var(--comment);
  }

  .hljs-rs-assign {
    color: var(--assign);
  }
  
  .hljs-rs-continuation {
    color: var(--continuation);
  }

  .hljs-rs-weight {
    color: var(--weight);
  }

/* TODOs? darktheme */



/* TODOs? lighttheme */